<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <span th:text="${'ID: ' + product.id}"></span>
        <span th:text="${'Title: ' + product.title}"></span>
        <span th:text="${'Price: ' + product.price}"></span>
    </div>

<div>
    <form th:action="@{/products/edit}" th:object="${product}" method="post">
        <input th:field="*{id}" placeholder="id (*)" type="hidden">
        <input th:field="*{title}" placeholder="title (*)">
        <input th:field="*{price}" placeholder="price (*)">
        <button type="submit">Edit</button>
    </form>
</div>

</body>
</html>